# Ignore virtual environment folder
venv/
myenv/

# For Windows virtual environment files
myenv/Scripts/
myenv/Lib/
myenv/Include/
myenv/bin/
myenv/lib/
myenv/include/

# macOS/Linux specific
myenv/bin/
myenv/lib/
myenv/include/
